html {
  --primary: #005daa;
  --secondary: #7aabff;
  --primary-accent: #d8a31a;
  --secondary-accent: #644000;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

header,
form,
section,
footer {
  padding: 1rem;
}

header,
section,
footer {
  text-align: center;
}

header,
footer,
a {
  color: white;
}

header,
footer {
  background: var(--primary);
}

h1,
h2 {
  margin: 0;
}

/* https://type-scale.com/?size=10&scale=1.333&text=A%20Visual%20Type%20Scale&font=Roboto&fontweight=400&bodyfont=Poppins&bodyfontweight=400&lineheight=1.45&backgroundcolor=white&fontcolor=%23333&preview=false */
h1 {
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

input,
label,
p {
  font-size: 1.333em;
}

label {
  margin-right: 0.5rem;
}

input {
  border: solid thin black;
  border-radius: 3px;
}

input[type="submit"] {
  background: var(--secondary);
  border-radius: 3px;
  color: white;
  padding: 0.5rem;
}

form div {
  margin: 0.5rem 0;
}

form .flex {
  max-width: 226px;
}

/* Utility Classes */
.flex {
  display: flex;
}

.justify-content--space-around {
  justify-content: space-between;
}
