html {
  --primary: #005DAA;
  --secondary: #7AABFF;
  --primary-accent: #D8A31A;
  --secondary-accent: #644000
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

header {
  background: var(--primary);
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 4.209em;
  margin: 0;
}

h2 {
  font-size: 3.157em;
}

input,
label,
p {
  font-size: 1.333em;
}

