html {
  --default-spacing: 3rem;
  --primary-accent: #d8a31a;
  --primary: #005daa;
  --secondary-accent: #644000;
  --secondary: #7aabff;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(./img/motherboard.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2.25em;

  /* (https://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/) */
  left: -9999px;
  position: absolute;
  text-align: center;
  top: -9999px;
}

h2 {
  font-size: 1.75em;
  text-align: center;
}

strong {
  font-size: 1.777em;
}

input,
label,
p {
  font-size: 1.5em;
}

img {
  max-width: 100%;
}

main {
  background-color: rgba(255, 255, 255, 0.884);
  padding: 1rem;
  text-align: center;
}

header,
form,
section,
footer {
  padding: 1rem;
}

header,
section,
footer {
  text-align: center;
}

header,
footer,
a {
  color: white;
}

header,
footer {
  background: var(--primary);
}

main p:first-child {
  font-weight: bold;
}

form {
  margin: 0 auto;
  width: 80vw;
}

form div {
  margin: 0.5rem 0;
}

label {
  margin-right: 0.5rem;
  white-space: nowrap;
}

input {
  border: solid thin black;
  border-radius: 3px;
}

input[type="submit"] {
  background: var(--secondary);
  border-radius: 3px;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

footer {
  font-size: 1.5em;
  text-align: center;
}

.flex {
  display: flex;
}

.justify-content-space-around {
  justify-content: space-between;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 480px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 50fr);
  }

  section {
    text-align: left;
  }

  /* 'flex--sm' just establishes a flexbox on 'small' screens. */
  .flex--sm {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 100fr;
    padding: 0 0.5rem;
  }

  section {
    max-width: 90vw;
  }

  /* Utility Classes */
  .flex--md {
    display: flex;
  }

  .justify-content-center--md {
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  main {
    margin: 0 auto;
    max-width: 800px;
  }
}
